<div class="container-fluid">
    <div class="row">
        <h4>{{ _T["dw6uhm2v"] }}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="btn-group btn-group-vertical" style="width:100%">
            <button class="btn btn-info" ng-click="saveChange('put_on_hold')"><i class="fa fa-pause"></i> {{ _T["krgvlv38"] }}</button>
            <button class="btn btn-primary" ng-click="saveChange('not_put_on_hold')"><i class="fa fa-play"></i> {{ _T["116rtvfs"] }}</button>
            <button class="btn btn-danger" ng-click="saveChange('cancel_requests')"><i class="fa fa-ban"></i> {{ _T["z3qlkgxx"] }}</button>
          </div>
        </div>
    </div>
</div>
