<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <span>{{ _T["rsnd7xlu"] }} :</span>
        </div>
        <div class="col-md-4">
            <div class="onoffswitch">
                <input type="checkbox" ng-model="urgent" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary pull-right" ng-click="saveChange('urgent')">{{ _T["5ygcxbsu"] }}</button>
        </div>
    </div>
</div>