<div class="form-group">
    <label class="col-sm-12 control-label">{{ field.title }}<em ng-hide="!field.required">*</em></label>
    <span ng-switch on="field.type.view">
        <span ng-switch-when="input">
            <div class="col-sm-12">
                <input ng-model="method[field.name]" pattern="{{field.pattern}}" ng-change="doneEditing(field.name)" placeholder="{{field.placeholder}}" type="text" class="form-control"/>
            </div>
        </span>
        <span ng-switch-when="checkbox">
            <div class="col-sm-12">
                <input class="form-control" ng-model="method[field.name]" ng-change="doneEditing(field.name)" ng-checked="method[field.name]" type="checkbox" />
            </div>
        </span>
        <span ng-switch-when="switch">
            <div class="col-sm-12">
                <div ng-if="field.read_only == true" class="onoffswitch">
                    <input type="checkbox" ng-model="method[field.name]" ng-checked="method[field.name]" disabled="true" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
                <div ng-if="field.read_only == false" class="onoffswitch">
                    <input type="checkbox" ng-model="method[field.name]" ng-checked="method[field.name]" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </span>
        <span ng-switch-when="textarea">
            <div class="col-sm-12">
                <a href="#" blur="ignore" editable-textarea="method[field.name]" e-rows="7" e-cols="40" onaftersave="doneEditing(field.name)">
                <pre>{{ method[field.name] || _T["vzrz1t2j"] }}</pre>
            </a>
        </div>
    </span>
    <span ng-switch-when="select">
        <div class="col-sm-12">
        <select class="form-control" ng-model="method[field.name]" ng-options="item.id as item.name for item in field.type.options"></select>
    </div>
</span>
<span ng-switch-when="ui-select-global">
    <div class="col-sm-12">
        <ui-select ng-model="method[field.name]" theme="bootstrap" ng-disabled="disabled" style="width: 100%;" on-select="doneEditing(field.name)">
        <ui-select-match placeholder="{{field.placeholder}}">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="f.id as f in field.type.options | propsFilter: {name: $select.search, id: $select.search}">
        <div ng-bind-html="f.name | highlight: $select.search"></div>
        </ui-select-choices>
        </ui-select>
    </div>
</span>
<span ng-switch-when="ui-select-multiple">
    <div class="col-sm-12">
        <ui-select multiple="true" ng-model="method[field.name]" theme="bootstrap" ng-disabled="disabled" style="width: 100%;">
        <ui-select-match  close-on-select="false" placeholder="{{field.placeholder}}">{{$item.name}}
        </ui-select-match>
        <ui-select-choices
        repeat="f.id as f in field.type.options | propsFilter: {name: $select.search, id: $select.search}" >
        <div ng-bind-html="f.name | highlight: $select.search"></div>
        </ui-select-choices>
        </ui-select>
        <button ng-click="all(field.name, field.type.options)">{{ _T["d087pif1"] }}</button>
        <!--<div ng-init="all(field.name, field.type.options)"></div>-->
        {{method[field.name]}}
    </div>
</span>
<span ng-switch-when="datepicker">
    <div class="col-sm-12">
        <input ng-model="method[field.name]" id="{{field.name}}" ng-change="doneEditing(field.name)" placeholder="{{field.placeholder}}"
        type="text" class="form-control datepicker"/>
        <script>
        //                var scope = angular.element('body').scope();
        //                  console.log(scope.$$childHead.method);
        // utiliser set date
        //                    var dates = scope.$$childHead.method[field.name];
        $('.datepicker').datepicker({
            format: "dd MM yyyy",
            todayBtn: true,
            language: $.cookie("language"),
            multidate: true,
            multidateSeparator: " - ",
            calendarWeeks: true,
            todayHighlight: true
        }).on('changeDate', function (ev){
            console.log(ev);
        });
        </script>
    </div>
</span>
<span ng-switch-when="description">
    <div class="col-sm-12">
        <label class="control-label">{{ field.text }}</label>
    </div>
</span>
<span ng-switch-when="read_only">
    <div class="col-sm-12">
    <pre>{{ method[field.name] || _T["fj98qsz4"] }}</pre>
</div>
</span>
<span ng-switch-when="text_only">
<div class="col-sm-12">
    <label class="control-label">{{ method[field.name] }}</label>
</div>
</span>
<span ng-switch-when="label">
<div class="col-sm-12">
    <label class="control-label">{{ field.text }}</label>
</div>
</span>
<!--You can add more custom widget types needed for your project-->
<span ng-switch-default>
<span>{{ _T["in5wmy49"] }}</span>
</span>
</span>
</div>