<div class="row mb-0">
	<div ng-if="true" class="col-md-2 infobull cell-phelix-edd" ng-click="eddPhelixDialog(0)">
		<i class="fa fa-pencil" ng-if="isDoublageTypeValid">{{ $root._T["ok8uxofd"] }}</i>
		<i class="fa fa-pencil" ng-if="!isDoublageTypeValid"></i>
	</div>
</div>
<div class="row mb-0">
	<div class="col-md-12 f-13" ng-if="$ctrl.cell.phelix_edd_manual">
		<i class="fa fa-share"></i>{{$ctrl.cell.phelix_edd_manual | asDate | date : 'dd/MM/yyyy'}}
	</div>
</div>

<div ng-init="isDoublageTypeValid = isValidDoublageTypeId($ctrl.product, $ctrl.cell.workflow_id)">
  <div ng-if="isDoublageTypeValid">
	<div class="row mb-0" >
		<div ng-if="true" class="col-md-2 infobull cell-phelix-edd" ng-click="eddPhelixDialog(1)">
			<i class="fa fa-pencil">{{ $root._T["3g2d4gz2"] }}</i>
		</div>
	</div>
	<div class="row mb-0">
		<div class="col-md-12 f-13" ng-if="$ctrl.cell.phelix_edd_manual_ad_light">
			<i class="fa fa-share"></i>{{$ctrl.cell.phelix_edd_manual_ad_light | asDate | date : 'dd/MM/yyyy'}}
		</div>
	</div>
  </div>
</div>

